<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Questioner</title>
    <link rel="icon" type="image/png" href="../images/quora-logo.png" />
    <link rel="stylesheet" href="../CSS/index.css">
</head>
<body>
    <div class="container">
        <div class="questioner_info-wrapper">
            <div class="questioner_info">
                <div class="questioner-details">
                    <div class="main_title">
                        <h1><a href="index.html"><img src="../images/quora-logo.png" alt="letter q">uestioner</a></h1>
                    </div>
                    <p>With Questioner meetup organizers can create meetups then other interested users may comment and ask questions about the meetup. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, veritatis.</p>
                    <div class="questioner-buttons">
                        <a href="signup.html"><button id="signup-btn">Sign Up</button></a>
                        <a href="login.html"><button id="login-btn">Log In</button></a>
                    </div>
                    <b>Join us today!</b>
                </div>
                <div class="dashboard">
                    <a href="dashboard.html">Dashboard</a>
                </div>
            </div>
            <div class="assymetric"></div>
        </div>
        <footer>&copy; Questioner 2019</footer>
    </div>
    <img src="../images/avatar.png" alt="background avatar" id="background_img">
</body>
</html>
